<a href="https://colab.research.google.com/github/giyuntf2/1day1commit/blob/main/backjoon/%EB%B0%B1%EC%A4%80_%EB%B3%84%EC%B0%8D%EA%B8%B0_2_~_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 별찍기

https://www.acmicpc.net/workbook/view/20

In [8]:
#별찍기 2번 2439

N = int(input())

for i in range(1, N+1):
    print('_' * (N-i) + '*' * i)

5
____*
___**
__***
_****
*****

In [11]:
#별찍기 3번 2439

N = int(input())

for i in range(0, N):
    print('*' * (N-i) + '_' * i)

5
*****
****_
***__
**___
*____

In [43]:
#별찍기 4번 2441

N = int(input())

for i in range(0, N):
    print(' ' * i + '*' * (N-i))

5
*****
 ****
  ***
   **
    *

In [72]:
#별찍기 5번 2442

N = int(input())

for i in range(0, N):
    print(' ' * (N-i-1) + '*' * (i+(i+1)))

5
    *
   ***
  *****
 *******
*********

In [73]:
#별찍기 6번 2443

N = int(input())

for i in range(1, N+1):
    print(' ' * (i-1) + '*' * (2*N-(2*i-1)))

5
*********
 *******
  *****
   ***
    *

In [74]:
#별찍기 7번 2444

N = int(input())

for i in range(0, N-1):
    print(' ' * (N-i-1) + '*' * (i+(i+1)))
for i in range(1, N+1):
    print(' ' * (i-1) + '*' * (2*N-(2*i-1)))

5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [101]:
#별찍기 8번 2445

N = int(input())

for i in range(1, N+1):
    print('*' * i +' ' * (2*N-(2*i)) + '*' * i)
for i in range(1, N):
    print('*' * (N-i) + ' ' * (2*i) + '*' * (N-i))

4
*      *
**    **
***  ***
********
***  ***
**    **
*      *

In [107]:
#별찍기 9번 2446

N = int(input())

for i in range(1, N):
    print(' ' * (i-1) + '*' * (2*N-(2*i-1)))
for i in range(1, N+1):
    print(' ' * (N-i) + '*' * (2*i-1))

5
*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

In [3]:
#별찍기 10번 2447

def star(n, x):
    out = []

    if n == 3:
        return x
    
    else:
        for i in x:
            out.append(i*3)

        for i in x:
            out.append(i + ' ' *len(x) + i)

        for i in x:
            out.append(i*3)

        return star(n//3, out)

if __name__ == '__main__':
    n = int(input())
    first = ['***', '* *', '***']
    final = star(n, first)
    for i in final:
        print(i)

9
*********
* ** ** *
*********
***   ***
* *   * *
***   ***
*********
* ** ** *
*********